<% 
    # Variables: 
    #- last_tweets

#    DHH version wih cached time and super quick update: https://rubyonrails.org/
# time is render AGO in client side vs server side
# bin/importmap pin local-time

# hotwire is 24min past. Subscription to TiurboScript

%>


<div class="ricc-tweets-top-right" >
    <b style="color:red" >Last 10 WTweets</b><br/>
    <% @last_wteets.first(3).each do |wt|
         @wordle_tweet = wt # needed to render it
    %>
        <%= render @wordle_tweet , :type => "short" %>
    <br/>
    <% end %>
</div>
