<% # expects a WT 

#  render "wordle_tweet/micro_game", wt: wordle_tweet 
%>
<span class="micro-game" >
    <%= link_to  wt.game, "/wordle_tweets?game=true&wordle_type=#{wt.wordle_type}&wordle_incremental_day=#{wt.wordle_incremental_day}"  %>
</span>