
TODO(ricc) this is a duplicate of tweets/_tweet.html.erb 


<h2>1 WTweet #<%= wordle_tweet.id %></h2>

  <%= render "wordle_tweets/ricc_show", wordle_tweet: @wordle_tweet %>

<h2>2 Tweet #<%= @wordle_tweet.tweet.id %></h2>

  <%= render "tweets/ricc_show", tweet: @wordle_tweet.tweet %>
