<h1>Articles#stats</h1>

<%#= WordleTweet.all.group(:wordle_type).count %>

<h2>Google Chart Tables</h2>

<p>
Javascript is NOt too bad i guess...

https://developers.google.com/chart/interactive/docs/gallery
</p>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['table']});
      google.charts.setOnLoadCallback(drawTable);

      function drawTable() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Wordle Type');
        data.addColumn('number', 'How Many');
        //data.addColumn('boolean', 'Full Time Employee');
        data.addRows([
          //['Wordle FR',  {v: 10000,  f: '$10,000'}, true],
          //['Jim',        {v: 8000,   f: '$8,000'},  false],
          <% WordleTweet.all.group(:wordle_type).count.each do |type,cardinality| %>
          ['<%=type %>',        {v: <%= cardinality %>,   f: '<%= cardinality %>'} ],

          <% end %>
        ]);

        var table = new google.visualization.Table(document.getElementById('table_wordle_div'));

        table.draw(data, {showRowNumber: true, width: '100%', height: '100%'});
      }
    </script>

    <div id="table_wordle_div"></div>


<p>
And now gauge... WTF this reloads and re-randomizes... sweet!
</p>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 80],
          ['CPU', 55],
          ['Network', 68],
          ['RiccWordle', 12345]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }
    </script>

    <div id="chart_div" style="width: 400px; height: 120px;"></div>

