<h1>Tests</h1>

<p>ti postot il test.sh qui che e' piu colorato..</p>

<% 
    require 'rake' 
    #Rake::Task['db:popola_test'].invoke 
%>

<p>
rake db:popola_test
</p>

<%
    #raise "Funge solo in TEST!!" unless Rails.env == "test"

    #non ha senso deve essere fatta in test imbecille :)

    # PROD Nick:  [[236089, "BJArmstrong10", "Nicola Piludu"]]
# PROD Pizzo: [[168301, "PaoloPizzorni", "Paolo Pizzorni"]]

%>

<h2>Amici di Ricc</h2>

<a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/545792">Julio S (545792)</a><br/>
<a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/168301">Paolo P (168301)</a><br/>
<a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app/twitter_users/236089">Nicola P (236089)</a><br/>
