<div id="<%= dom_id tweet %>">
  <p>
    <strong>Twitter user:</strong>
    <%= tweet.twitter_user_id %>
  </p>

  <p>
    <strong>Full text:</strong>
    <tt>
    <%= tweet.full_text.gsub("\n", "<BR/>").html_safe %>
    </tt>
  </p>

  
    <p>
    <strong>Possible Wordle Twitter:</strong>
    <%= link_to tweet.wordle_tweet, tweet.wordle_tweet rescue "Error: #{ $! }" %>
  </p>

  

</div>
