<h2>Tweet #<%= tweet.id %></h2>

  <%= render "tweets/ricc_show", tweet: @tweet %>

<h2>WTweet #<%= tweet.wordle_tweet.id %></h2>

  <%= render "wordle_tweets/ricc_show", wordle_tweet: @tweet.wordle_tweet %>
