<div id="<%= dom_id twitter_user %>">
  <p>
    <strong>Twitter:</strong>
    <%= twitter_user.twitter_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= twitter_user.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= twitter_user.location %>
  </p>

</div>
