<h1>Editing twitter user</h1>

<%= render "form", twitter_user: @twitter_user %>

<br>

<div>
  <%= link_to "Show this twitter user", @twitter_user %> |
  <%= link_to "Back to twitter users", twitter_users_path %>
</div>
