<p style="color: green"><%= notice %></p>


<h1>Top 10 Twitter users (TODO optimize)</h1>

TODO(ricc): optimize this shit :) 

 TwitterUser.first(100).map{|u| [u.twitter_id, u.tweets.count] }.sort_by{|u| u[1]}.last(10).reverse

 URL
Make your pages load super fast and stop worrying about timeouts. Give each chart its own endpoint.

< % = line_chart completed_tasks_charts_path % >
And in your controller, pass the data as JSON.

class ChartsController < ApplicationController
  def completed_tasks
    render json: Task.group_by_day(:completed_at).count
  end
end

    <%= #column_chart TwitterUser.all.map{|u| [u.twitter_id, u.tweets.count, u.id, u.name] }.sort_by{|u| u[1]}.last(10).reverse,
        column_chart  @twitter_users.map{|u| [u.twitter_id, u.tweets.count] }.sort_by{|u| u[1] }.last(10).reverse,
        xtitle: "Incremental Day (top 10)" ,
        ytitle: "Total WTweets",
        download: true
    %>


<h1>Twitter users</h1>

<div id="twitter_users">
  <% @twitter_users.each do |twitter_user| %>
    <p>
      <%= link_to "Show #{twitter_user}", twitter_user %>
    </p>
  <% end %>
</div>

<%#= link_to "New twitter user", new_twitter_user_path if mutations_allowed? %>
