<% 
    # Variables: 
    #- last_tweets
%>
<div class="ricc-games-top-right" >
    <b>Last <%=@last_games.count rescue '??' %> games</b><br/>
    <% @last_games.each do |wg| 
        # just refactored, now each one is a WordleGame oobjec with its dignity :) 
    %>
    <span class="small-top10-element" >
        <%= link_to wg.name_with_flag  %> <i>(<%= time_ago_in_words(wg.created_at) %> ago)</i>
    </span>
        <br/>
    <% end %>
</div>
