<h1>Games/action_seed_by_search_term</h1>

TODO put this in action partial 
<p>Action: '<%= @action %>'</p>
<p>@description: '<%= @description %>'</p>
<p>@results: <tt class='yellow' ><%= @results %></tt></p>
