

<h1>Games/action_seed_all</h1>

<p class='debug' >todo(ricc): change action prov anche http://localhost:3000/rails/info/routes
</p>

TODO put this in action partial 
<p>Action: '<%= @action %>'</p>
<p>@description: '<%= @description %>'</p>
<p>@results: <pre><%= @results %></pre></p>
