# see https://bloggie.io/@kinopyo/rails-the-convenient-way-to-load-custom-configuration-yaml-file
# This is parsed in config/initializers/riccardo.rb and the default WORDLE is added to the end to guarantee its parsed last
# (catch-all one). Note iof you change schema you need to change THAT as well. If this becomes a problem, just add an empy weight which default to 100
# and give 1000 to dflt worlde..
default: &default
  - url: 'https://pietroppeter.github.io/wordle-it/'
    lang: it
    return: wordle_it
    regexes:
    - "Par游쉻릖졃e"
    - "Par.+le"
  - url: https://wordle.louan.me/
    regexes:
      -  "Le Mot \\(@WordleFR\\)" # we need to regexify the parenthesis - todo debug
      -  "@WordleFR"
    lang: fr
    return: wordle_fr
  - url: 'http://term.ooo'
    regexes:
      - "term.ooo"
      - "joguei https:\/\/t.co"
    lang: pt
    return: wordle_pt
  - # Lewdle
    url: 'https://www.lewdlegame.com/'
    regexes:
      - "lewdle \\d"
      - Lewdle
    lang: en
    return: lewdle
  - url: 'https://wordle.uber.space/' # ex wordle-spielen.de
    regexes:
      - "wordle-spielen.de"
      - "wordle.uber.space"
      - '@dewordle'
      - 'WORDLE游뾇릖 '
    lang: de
    return: wordle_de
  - return: nerdlegame
    url: https://nerdlegame.com/
    regexes:
      - "nerdlegame"
    lang: special/math
  - return: katapat
    url: https://www.projecteugene.com/katapat.html
    regexes:
    - katapat
    lang: ms # MALAY type of malysian yep there are two :)
  - return: katla
    url: https://katla.vercel.app/
    regexes:
    - Katla
    - katla.vercel.app
    # in case i want to go there... not sure.
    solutions:
      '23': bison
    lang: ms # MALAY again, says translate: bison: banteng liar, terdapat di Amerika Utara, tengkuknya berbulu lebat, berkepala besar, bertanduk kecil, dan berpunuk besar; Bison amerikanus
  - return: taylordle
    url: https://www.taylordle.com/
    regexes:
    - taylordle
    lang: en
  - return: wordle_es
    url: https://wordle.danielfrg.com
    regexes:
    - wordle.danielfrg.com
    lang: es
  - return: worldle
    url: https://worldle.teuteuf.fr
    lang: special/geo
    regexes:
    - worldle.teuteuf.fr
  - return: wg_italian
    url: https://wordlegame.org/wordle-in-italian
    lang: it
    regexes:
    - "I guessed this Italian 5-letter word in"

development:
  <<: *default
production:
  <<: *default
test:
  <<: *default
  #timeout: 5000
addon_in_the_end:
  - url: 'https://wordlegame.org/wordle-in-spanish'
    regexes:
     - "wordlegame.org.wordle-in-spanish"
     - "I guessed this Spanish 5-letter word in"
    lang: es
    return: wg_spanish_renmoveme
  - url: https://wordlegame.org/wordle-in-italian
    regexes:
     - "wordlegame.org.wordle-in-italian"
     - "I guessed this Italian 5-letter word in"
     - guessed this Italian 5-letter
    lang: it
    return: wg_italian_renmoveme
  # - url: todo
  #   regexes:
  #   #- "I guessed this .*5-letter word in ./6 tries"
  #   - "5-letter word in 4/6 tries"
  #   lang: en
  #   return: wg_todo_polymoprhic
  - # Wordle the most famous one
    url: 'https://www.nytimes.com/games/wordle/'
    # used to be https://www.powerlanguage.co.uk
    regexes:
      - "wordle"
      - "游릴游릴游릴游릴游릴"
    lang: en
    return: wordle_en
