# see https://bloggie.io/@kinopyo/rails-the-convenient-way-to-load-custom-configuration-yaml-file
# This is parsed in config/initializers/riccardo.rb and the default WORDLE is added to the end to guarantee its parsed last
# (catch-all one). Note iof you change schema you need to change THAT as well. If this becomes a problem, just add an empy weight which default to 100
# and give 1000 to dflt worlde..
default: &default
  - url: 'https://pietroppeter.github.io/wordle-it/'
    lang: it
    return: wordle_it
    regexes_in_or:
    - "Par游쉻릖졃e"
    - "Par.+le"
  - url: https://wordle.louan.me/
    regexes_in_or:
      -  "Le Mot \\(@WordleFR\\)" # we need to regexify the parenthesis - todo debug
      -  "@WordleFR"
    lang: fr
    return: wordle_fr
  - url: 'http://term.ooo'
    regexes_in_or:
      #- "term.ooo" # doesnt work :/ 
      #- "term.ooo" # doesnt work :/ 
      - "joguei https:\/\/t.co"
    lang: pt
    return: wordle_br
  - # Lewdle
    url: 'https://www.lewdlegame.com/'
    regexes_in_or:
      - "lewdle \\d"
      - Lewdle
    lang: en
    return: lewdle
  - url: 'https://wordle.uber.space/' # ex wordle-spielen.de
    regexes_in_or:
      - "wordle-spielen.de"
      - "wordle.uber.space"
      - '@dewordle'
      - 'WORDLE游뾇릖 '
    lang: de
    return: wordle_de
  - return: nerdlegame
    url: https://nerdlegame.com/
    regexes_in_or:
      - "nerdlegame"
    lang: special/math
  - return: katapat
    url: https://www.projecteugene.com/katapat.html
    regexes_in_or:
    - katapat
    lang: ms # MALAY type of malysian yep there are two :)
  - return: katla
    url: https://katla.vercel.app/
    regexes_in_or:
    - Katla
    - katla.vercel.app
    # in case i want to go there... not sure.
    solutions:
      '23': bison
    lang: ms # MALAY again, says translate: bison: banteng liar, terdapat di Amerika Utara, tengkuknya berbulu lebat, berkepala besar, bertanduk kecil, dan berpunuk besar; Bison amerikanus
  - return: taylordle
    url: https://www.taylordle.com/
    regexes_in_or:
    - taylordle
    lang: en
  - return: wordle_es
    url: https://wordle.danielfrg.com
    regexes_in_or:
    - wordle.danielfrg.com
    lang: es
  - return: worldle
    url: https://worldle.teuteuf.fr
    lang: special/geo
    regexes_in_or:
    - worldle.teuteuf.fr
  - return: wg_italian
    url: https://wordlegame.org/wordle-in-italian
    lang: it
    regexes_in_or:
    - "I guessed this Italian 5-letter word in"
    - "Italian 5-letter"
  - return: mathler_hard
    url: https://hard.mathler.com/ 
    lang: special/math 
    regexes_in_or: 
    - hard.mathler.com
  - return: mathler_easy
    url: https://easy.mathler.com/ 
    lang: special/math 
    regexes_in_or: 
    - easy.mathler.com
  - return: mathler_medium
    url: https://mathler.com/ 
    lang: special/math 
    regexes_in_or: 
    - mathsssssler.com
  - return: sutom 
    url: https://sutom.nocle.fr/
    lang: fr 
    regexes_in_or: 
    - SUTOM
  - return: quordle
    url: https://www.quordle.com/
    lang: en
    regexes_in_or: 
    - quordle
  - return: sedecordle
    url: http://www.sedecordle.com/?mode=daily
    lang: en
    regexes_in_or:
    - Daily sedecordle 

development:
  <<: *default
production:
  <<: *default
test:
  <<: *default
  #timeout: 5000
addon_in_the_end:
  # - url: 'https://wordlegame.org/wordle-in-spanish'
  #   regexes_in_or:
  #    - "wordlegame.org.wordle-in-spanish"
  #    - "I guessed this Spanish 5-letter word in"
  #   lang: es
  #   return: wg_spanish_renmoveme
  # - url: https://wordlegame.org/wordle-in-italian
  #   regexes_in_or:
  #    - "wordlegame.org.wordle-in-italian"
  #    - "I guessed this Italian 5-letter word in"
  #    - guessed this Italian 5-letter
  #   lang: it
  #   return: wg_italian_renmoveme
  # # - url: todo
  # #   regexes_in_or:
  # #   #- "I guessed this .*5-letter word in ./6 tries"
  # #   - "5-letter word in 4/6 tries"
  # #   lang: en
  # #   return: wg_todo_polymoprhic
  - # Wordle the most famous one
    url: 'https://www.nytimes.com/games/wordle/'
    # used to be https://www.powerlanguage.co.uk
    regexes_in_or:
      - "wordle"
      - "游릴游릴游릴游릴游릴"
    lang: en
    return: wordle_en
