<h1>Editing wordle game</h1>

<%= render "form", wordle_game: @wordle_game %>

<br>

<div>
  <%= link_to "Show this wordle game", @wordle_game %> |
  <%= link_to "Back to wordle games", wordle_games_path %>
</div>
