
.ricc-global-top-right {
  /*  background-color: rgb(209, 253, 226);*/
    float: right;
    overflow: auto;
     width: 50%;
    padding: 1pt ;
}


.ricc-wordletweet-top-right {
  background-color: rgb(252, 252, 159);
  float: right;
  overflow: auto;
/*  width: 45%; */
padding: 5pt ;
}
.ricc-tweets-top-right {
    background-color: rgb(208, 237, 250);
    float: right;
    overflow: auto;
  /*  width: 45%; */
  padding: 5pt ;
}
.ricc-users-top-right {
    background-color: rgb(248, 235, 206);
    float: right;
    overflow: auto;
    padding: 5pt ;
}
.ricc-games-top-right {
  background-color: rgb(201, 255, 194);
  float: right;
  overflow: auto;
  padding: 5pt ;
}















/* Se ho ben capito devo togliere DOPO*/
.ricc-metti-a-posto {
    float: none;
    
}

.small-top10-element {
    font-size: small;
}

.wt_sublinks {
  font-size: small;

}

.debug {
  background-color: pink;
}



  /* Scores 1-6 green-red */
.wordle_score_gradient_1 { color: green; }
.wordle_score_gradient_2 { color: green; }
.wordle_score_gradient_3 { color: rgb(21, 128, 0); }
.wordle_score_gradient_4 { color: rgb(111, 167, 29); }
.wordle_score_gradient_5 { color: rgb(128, 62, 0); }
.wordle_score_gradient_6 { color: red; }


.env_development {
  background-color: yellow;
}
.env_devpg {
  background-color: yellowgreen;
}
.env_staging {
  background-color: orange;
}
.env_production {
}