
.ricc-global-top-right {
  /*  background-color: rgb(209, 253, 226);*/
    float: right;
    overflow: auto;
     width: 50%;
    padding: 1pt ;
}


.ricc-tweets-top-right {
    background-color: rgb(183, 231, 253);
    float: right;
    overflow: auto;
  /*  width: 45%; */
  padding: 5pt ;
}
.ricc-users-top-right {
    background-color: rgb(247, 199, 97);
    float: right;
    overflow: auto;
    padding: 5pt ;
}
/* Se ho ben capito devo togliere DOPO*/
.ricc-metti-a-posto {
    float: none;
    
}

.small-top10-element {
    font-size: small;
}