<div class="footer" >
    <hr/>
    <center>
        <a href="/">🏠 Home</a>
        Twitter Parser v.<b><%= APP_VERSION rescue :AppVersionMissing%></b> 
        - <b><%= Rails.env %></b> 
        - Code on 
            <a href="https://github.com/palladius/twitter-scraper">GitHub</a>  
            Cloud Run 
             <a href="https://twitter-scraper-v3ydafeb7q-ew.a.run.app">PROD</a> 
             <a href="https://twitter-scraper-staging-v3ydafeb7q-ew.a.run.app/">STAGING</a> 

             DEV links: 
                     <a href="/games" >⚽ games (m)</a > |
                     <a href="/articles/stats" >📊 Stats brutte (js)</a > |

        
        <br/>
        @ <tt><%= LOCATION rescue HOSTNAME %></tt>
        <br/>
        <p style="color: orange;font-size: small;">
            MESSAGGIO_OCCASIONALE: <tt><%= ENV["MESSAGGIO_OCCASIONALE"] %></tt>
        </p>
        
    </center>
</div>
