<div class="footer" >
    <hr/>
    <center>
        <a href="/">🏠 Home</a>
        Twitter Parser v.<b><%= ENV["APP_VERSION"] rescue :nover %><b>
        - <b><%= Rails.env %></b> <br/>
        <p style="color: orange;font-size: small;">
            MESSAGGIO_OCCASIONALE: <tt><%= ENV["MESSAGGIO_OCCASIONALE"] %></tt>
        </p>

        
    </center>
</div>
