<div class="header" >
    <center>
        <a href="/">⬜Home</a>  |
        <a href="/tweets" >Tweets</a > |
        <a href="/twitter_users" >🟨 TUsers</a > |
        <a href="/wordle_tweets" >🟩 Wordle Tweets</a > |
        
        <!-- 
            <a href="/articles" >Articles (=home)</a > |
        -->
        <a href="/stats" >Stats</a > |
        <a href="/wordle" >wordle</a > |
        <a href="/about" >about</a > |
        
        
    </center>
</div>
